.line
    background-color: $bright-color-2
    padding-block: 18px        
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 12px    
    overflow: hidden
    user-select: none
    &:hover &__content
        animation-play-state: paused
    @include xxs
        padding-block: 10px

    &__content
        position: relative        
        display: flex        
        align-items: center
        justify-content: space-around
        gap: 12px       
        animation: scroll 20s linear infinite
        
            
    &__text-item
        text-transform: uppercase
        font-family: $golos-reg
        font-size: 18px
        color: $text-hover
        white-space: nowrap
        @include xxs 
                font-size: 16px
    &__dots            
        width: 6px
        height: 6px

@keyframes scroll 
    from 
        transform: translateX(0)  
    to 
        transform: translateX(calc(-100% - 12px))  
